@tailwind base;
@tailwind components;
@tailwind utilities;

:root, page {
  --nutui-brand-color: #fa2c19;
  --nutui-color-primary: #fa2c19;
  --nutui-color-primary-stop-1: #fa2c19;
  --nutui-color-primary-stop-2: #fa6419;
}
